header{
    color:darkblue;
    text-align: center;
    font-family: 'Signika', sans-serif;
}

img{
    width: 200px;
    height: 200px;
    border-radius: 50%;
}

.lista-info{
    list-style-type: none;
}

.lista-redes{
    list-style-type: none;
}

body{
    background-color: antiquewhite;
}

p, li {
    font-family: 'Roboto', sans-serif;
}

#subtitulo{
    font-family: 'Signika', sans-serif;
}